.titleBar {
    background-color: #004080;
    color: #FFFFFF;
    font-size: 24pt;
    font-weight: bold;
    height: 64px;
    line-height: 64px;
    min-width: 800px;
    overflow: hidden;
    padding: 0px 0px 0px 20px;
}

.titleBar > .diceIcon {
    padding: 0px 20px;
}
