.titleBar {
    background-color: #004080;
    color: #FFFFFF;
    font-size: 24pt;
    font-weight: bold;
    height: 64px;
    line-height: 64px;
    min-width: 800px;
    overflow: hidden;
    padding: 0px 0px 0px 20px;
}

div.buttonContainer {
    max-width: 150px;
    width: 150px;

    margin: 50px 20px;
}

div.buttonContainer button.btn {
    max-width: 150px;
    width: 150px;
}

div.buttonContainer .row {
    margin: 10px;
}

.btn {
    margin: auto;
}

.btn.btn-primary:disabled {
    background-color: grey;
    border-color: grey;

    cursor: default;
}

div.diceListContainer {
    min-width: 400px;
    margin: 0px 10px;
}

div.diceListContainer .title {
    font-size: 20pt;
    font-weight: bold;
    
    margin: 10px 0px 0px 0px;
}

div.diceListContainer .diceRow {
    width: 100%;
    padding: 5px 5px 5px 10px;
}

div.diceListContainer .diceRowNoSelect {
    width: 100%;
    padding: 5px 5px 5px 10px;
}

div.diceListContainer .diceRowSelected {
    background-color: #aaf;
    width: 100%;
    padding: 5px 5px 5px 10px;
}

div.diceListContainer .diceRow:hover {
    background-color: #ccf;
}