.resultCol {
    text-align: right;
}

div.diceListContainer {
    min-width: 400px;
    margin: 0px 10px;
}

div.diceListContainer .title {
    font-size: 20pt;
    font-weight: bold;
    
    margin: 10px 0px 0px 0px;
}

div.diceRowTitle {
    font-weight: bold;
    border-bottom: 2px solid #000;
    width: 100%;
}

div.diceListContainer .diceTotalRow {
    width: 100%;
    padding: 5px 5px 5px 10px;
    border-top: 2px solid #000;
}

div.diceTotalRow .diceTotalTitle {
    font-weight: bold;
    text-align: right;
    padding: 0px 30px;
}

div.diceListContainer .diceRow {
    width: 100%;
    padding: 5px 5px 5px 10px;
}

div.diceListContainer .diceRowNoSelect {
    width: 100%;
    padding: 5px 5px 5px 10px;
}

div.diceListContainer .diceRowSelected {
    background-color: #aaf;
    width: 100%;
    padding: 5px 5px 5px 10px;
}

div.diceListContainer .diceRow:hover {
    background-color: #ccf;
}